.button {
  display: block;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  width: 60%;
  margin: 30px auto;
  max-width: 400px;
  min-width: 200px;
  cursor: pointer;
  transition: transform 200ms ease;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}