.carItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px 10px;
  box-shadow: 7px 7px 22px #b5b5b5, -7px -7px 22px #ffffff;
  color: #000;
  background: #fff;
  transition: transform 200ms ease;
}

.carItem:hover {
  transform: scale(1.03);
  cursor: pointer;
}
